.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* general settings */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*------------------- start header -------------------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*------------- mobile menu-------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}
.mobile-menu-close {
  position: absolute;
  top: 32px;
  right: 32px;
  border-radius: 50%;
  display: block;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin-bottom: 24px;
  cursor: pointer;
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.number-style {
  color: #4d5ae5;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.social-menu-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.social-menu-link {
  text-decoration: none;
  /* font-style: normal; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin: 0 auto;
}

.link-blue {
  color: #404bbf;
}

.menu-sociallink {
  fill: #f4f4fd;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*------------------- end header -------------------- */

/*------------------- start section color -------------------- */

.color {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/phonehero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .color {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/phonehero@2x.jpg');
  }
}

.page-title {
  text-align: center;
  font-size: 36px;
  color: #fff;
  line-height: 1.11;
  letter-spacing: 0.02em;

  max-width: 216px;
  margin: 0 auto 72px auto;
}

.service-button {
  display: block;
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover,
.service-button:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .color {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/tabhero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-resolution: 192dpi) {
    .color {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/tabhero@2x.jpg');
    }
  }

  .page-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}

@media (min-width: 1158px) {
  .color {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/deschero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-resolution: 192dpi) {
    .color {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/deschero@2x.jpg');
    }
  }

  .page-title {
    margin: 0 auto 48px auto;
  }
}

/*------------------- end section color -------------------- */

/*------------------- start section  Advantages-------------------- */

.section-advantages {
  padding: 96px 0;
  /* padding-top: 96px;
  padding-bottom: 96px; */
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-two-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.section-icon {
  display: none;
}

@media (min-width: 768px) {
  .section-two-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-two-items {
    width: calc((100% - 24px) / 2);
  }

  .title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .section-icon {
    display: flex;
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
  }

  .text-title {
    font-weight: 400;
  }

  .section-two-list {
    display: flex;

    max-width: 1128px;
    gap: 24px;
  }

  .section-two-items {
    width: calc((100% - 72px) / 4);
  }

  .item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

/*------------------- end section Advantages -------------------- */
